<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neroll.mapper.DrugSaleMapper">
    <resultMap id="drugSaleMap" type="com.neroll.pojo.DrugSale">
        <result column="sale_id" property="saleId"/>
        <result column="drug_id" property="drugId"/>
    </resultMap>
    <insert id="addDrugSale">
        insert into drug_sale(drug_id, sale_id)
        values (#{drugId},#{saleId})
    </insert>
    <delete id="deleteDrugSale">
        delete from drug_sale
        where drug_id=#{drugId}
    </delete>
    <update id="updateDrugSale">
        update drug_sale
        set drug_id=#{drugId},sale_id=#{saleId}
        where drug_id=#{drugId}

    </update>

</mapper>