<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neroll.mapper.DrugMapper">
    <resultMap id="drugMap" type="com.neroll.pojo.DrugVo">
        <result column="drug_id" property="drugId"/>
        <result column="drug_name" property="drugName"/>
        <result column="drug_info" property="drugInfo"/>
        <result column="drug_effect" property="drugEffect"/>
        <result column="drug_img" property="drugImg"/>
        <result column="createtime" property="createTime"/>
        <result column="updatetime" property="updateTime"/>

    </resultMap>
    <select id="getDrugByPage" resultMap="drugMap">
        select * from drug
            where drug_name like #{keyword}
            limit #{offset}, #{count}
    </select>
    <select id="getDrugCount" resultType="Integer">
        select count(*) from drug
    </select>
    <select id="getDrugNameLikeCount" resultType="Integer">
        select count(*) from drug
        where drug_name like #{keyword}

    </select>
    <select id="getSaleLocations" resultType="com.neroll.pojo.SaleVo">
        SELECT sale.sale_id as saleId, sale_name as saleName
        from drug
                 INNER JOIN drug_sale
                            on drug.drug_id=drug_sale.drug_id
                 INNER JOIN sale
                            on sale.sale_id=drug_sale.sale_id
        where drug.drug_id=#{drugId}

    </select>
    <insert id="addDrug">
        insert into drug(drug_name, drug_info, drug_effect, drug_img, publisher)
        VALUES
            (#{drugName},#{drugInfo},#{drugEffect},#{drugImg},#{publisher})
    </insert>
</mapper>