<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neroll.mapper.MedicalPolicyMapper">

    <resultMap id="displayedMedicalPolicyMap" type="com.neroll.pojo.DisplayedMedicalPolicy">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="message" property="message"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="cityVo" javaType="com.neroll.pojo.CityVo">
<!--            <id javaType="com.neroll.pojo.CityVo" column="id" property="id"/>-->
            <result column="cid" property="id"/>
            <result column="cityName" property="cityName"/>
            <result column="provinceName" property="provinceName"/>
            <result column="number" property="number"/>
        </association>
    </resultMap>

    <resultMap id="medicalPolicyMap" type="com.neroll.pojo.MedicalPolicy">
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="getMedicalPolicyByPage" resultMap="displayedMedicalPolicyMap">
        select m.id, m.title, m.message, ch.name as cityName, ch2.name as provinceName,
            c.city_id as cid,  c.city_number as number, m.create_time, m.update_time
            from medical_policy as m left outer join city c on m.city_id = c.city_id
            left outer join china as ch on c.city_number = ch.id
            left outer join china as ch2 on ch.parent_id = ch2.id
            limit #{offset}, #{count}
    </select>

    <select id="getMedicalPolicyNum" resultType="int">
        select count(*) from medical_policy
    </select>

    <insert id="saveMedicalPolicy">
        insert into medical_policy (title, message, city_id, create_time, update_time)
        values (#{title}, #{message}, #{cityId}, #{createTime}, #{updateTime});
    </insert>

    <update id="updateMedicalPolicy">
        update medical_policy set title = #{title}, message = #{message}, city_id = #{cityId}, update_time = #{updateTime}
        where id = #{id}
    </update>

    <delete id="deleteMedicalPolicyById">
        delete
        from medical_policy
        where id = #{id};
    </delete>

</mapper>