<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neroll.mapper.SaleMapper">
    <resultMap id="saleMap" type="com.neroll.pojo.Sale">
        <result column="sale_id" property="saleId"/>
        <result column="sale_name" property="saleName"/>
        <result column="sale_phone" property="salePhone"/>
        <result column="createtime" property="createTime"/>
        <result column="updatetime" property="updateTime"/>
    </resultMap>
    <select id="getSaleByPage" resultMap="saleMap">
        select * from sale limit #{offset}, #{count}
    </select>
    <select id="getSaleCount" resultType="Integer">
        select count( * ) from sale
    </select>
    <insert id="saveSale">
        insert into
            sale(sale_name, sale_phone, createtime, updatetime, lng, lat, address)
        VALUES
        (#{saleName}, #{salePhone}, #{createTime}, #{updateTime}, #{lng}, #{lat}, #{address})

    </insert>
    <update id="updateSale">
        update sale set sale_name=#{saleName},sale_phone=#{salePhone},address=#{address},lng=#{lng},lat=#{lat}
        where sale_id=#{saleId}
    </update>
    <delete id="deleteSaleById">
        delete from sale where sale_id=#{saleId}
    </delete>
    <select id="getAllSaleLocations" resultType="com.neroll.pojo.SaleVo">
        select sale_id as saleId, sale_name as saleName from sale
    </select>
</mapper>